body{
background-size:cover;
font-family: 'Tapestry', cursive;
}
#song_name_btn{
    background-color: #f7de64;
    font-size: 17px;
    border: 2px solid black;
}
#header{
    background-color: rgb(114, 92, 59);
    color: white;
    font-size: 18px;
    border: 2px solid black;
    box-shadow: 5px 5px 65px rgb(0, 0, 0);

}
canvas{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 65px rgb(114, 92, 59);
    width: 600px;
    height: 400px;
    position: center;
}